.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 135px;
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  display: flex;
  width: 300px;
  height: fit-content;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login-container > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 10px;
}

.login-container > form > input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px#9ecaed;
}

.login-sign-in-button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

p {
  margin-top: 20px;
}

.login-register-button {
  border-radius: 2px;
  width: 350px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}
